.nav {
  background-color: #8b0000; 
  padding: 10px;
  display: flex;
}
.logoname h2{
  color: white;
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-left: 550px;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 50px;
  padding-top: 20px;
}

nav a:hover {
  background-color: #a52a2a;
  border-radius: 4px;
}
